---
import Layout from "../../layouts/Layout.astro";
import {
  getPostBySlug,
  getPages,
  getAllPostSlugs,
} from "../../lib/graphql-queries";
import type { Page, Post } from "../../types/types";

export async function getStaticPaths() {
  const slugs = await getAllPostSlugs();
  return slugs.map((slug) => ({ params: { slug } }));
}

const { slug } = Astro.params;
let post: Post | null = null;
let pages: Page[] = [];
let error: Error | null = null;

try {
  [post, pages] = await Promise.all([
    getPostBySlug(slug as string),
    getPages(),
  ]);
} catch (e) {
  console.error("Error fetching data:", e);
  error = e instanceof Error ? e : new Error("An unknown error occurred");
}
---

<Layout title={post?.title || "Post no encontrado"}>
  {
    error ? (
      <p>
        Hubo un problema al cargar el contenido. Por favor, intenta recargar la
        página.
      </p>
    ) : post ? (
      <main>
        <article>
          <h1>{post.title}</h1>
          <time datetime={post.date}>
            {new Date(post.date).toLocaleDateString()}
          </time>
          <div set:html={post.content} />
        </article>
      </main>
    ) : (
      <p>Post no encontrado.</p>
    )
  }
</Layout>
