---
interface Props {
  content?: string;
  class?: string;
}

const { content, class: className } = Astro.props;
---

<div class:list={["prose wp-blocks flow-root", className]}>
  {content ? <Fragment set:html={content} /> : <slot />}
</div>
