For now I dont care about this compononet

<!-- ---
import Layout from "../layouts/Layout.astro";
import { getPostBySlug } from "../lib/graphql-queries";
import type { Post, Lang } from "../types/types";

export interface Props {
  lang: Lang; // Cambiado de string a Lang
  slug: string;
}

const { lang, slug } = Astro.props;
let post: Post | null = null;
let error: Error | null = null;

try {
  post = await getPostBySlug(slug, lang);
} catch (e) {
  console.error("Error fetching post:", e);
  error = e instanceof Error ? e : new Error("An unknown error occurred");
}
---

<Layout title={post?.title || "Post not found"}>
  {
    error ? (
      <p>
        There was a problem loading the content. Please try reloading the page.
      </p>
    ) : post ? (
      <main>
        <article>
          <h1>{post.title}</h1>
          <time datetime={post.date}>
            {new Date(post.date).toLocaleDateString(lang)}
          </time>
          <div set:html={post.content} />
        </article>
      </main>
    ) : (
      <p>Post not found.</p>
    )
  }
</Layout> -->
