---
import type { Page } from "../types/types";

import ContentWithProtectedImages from "./ContentWithProtectedImages";

import "../styles/wordpress-styles.css";

interface Props {
  page: Page;

  isHomePage: boolean;
}

const { page, isHomePage } = Astro.props;

const title = page.title;

const content = page.content || "";
---

<div class="mx-auto max-w-2xl">
  <article class="wp-blocks prose max-w-none">
    {!isHomePage && <h1>{title}</h1>}

    <ContentWithProtectedImages content={content} client:load />
  </article>
</div>
