---
import Layout from "../../layouts/Layout.astro";
import { getPages } from "../../lib/graphql-queries";
import type { Page, Lang } from "../../types/types";
import { useTranslations } from "../../i18n/utils";

export function getStaticPaths() {
  return [
    { params: { lang: "en" } },
    { params: { lang: "es" } },
    { params: { lang: "sv" } },
  ];
}

const { lang } = Astro.params as { lang: Lang };
const t = useTranslations(lang);

let pages: Page[] = [];
let homePage: Page | null = null;
let error: Error | null = null;

try {
  pages = await getPages(lang);
  homePage = pages.find((page) => page.isFrontPage) || null;
} catch (e) {
  console.error("Error fetching data:", e);
  error = e instanceof Error ? e : new Error("An unknown error occurred");
}
---

<Layout title={homePage?.title || "Patricio Salinas"} lang={lang} pages={pages}>
  {
    error ? (
      <p>{t("error.loading")}</p>
    ) : homePage ? (
      <main>
        <h1>{homePage.title}</h1>
        <div set:html={homePage.content} />
      </main>
    ) : (
      <p>{t("error.noHomePage")}</p>
    )
  }
</Layout>
